:root {
  --oui-font-family: 'Roboto', sans-serif;
  --oui-font-size-base: 15px;

  /* colors */
  --oui-color-primary: 106 180 177;
  --oui-color-primary-light: 150 206 205;
  --oui-color-primary-darken: 70 146 147;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 130 162 162;
  --oui-color-link-light: 168 200 199;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 219 219 219;
  --oui-color-quaternary: 219 219 219;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 251 167 188;
  --oui-color-danger-darken: 238 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 102 240 194;
  --oui-color-success-darken: 1 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 175 201 206;
  --oui-color-fill-active: 145 173 178;

  --oui-color-base-1: 206 221 226;
  --oui-color-base-2: 176 201 206;
  --oui-color-base-3: 156 181 186;
  --oui-color-base-4: 129 161 162;
  --oui-color-base-5: 113 145 146;
  --oui-color-base-6: 93 133 136;
  --oui-color-base-7: 146 173 178;
  --oui-color-base-8: 74 103 106;
  --oui-color-base-9: 54 90 93;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 70 146 147;
  --oui-gradient-primary-end: 150 206 205;

  --oui-gradient-secondary-start: 81 122 125;
  --oui-gradient-secondary-end: 106 180 177;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 106 180 177;
  --oui-gradient-brand-end: 255 255 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 176 201 206;
  --oui-gradient-neutral-end: 146 173 178;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px !important;
}